
.body {
    background: #fff;
    margin-top: 40px;
}

.content {
    border-left: 1pt solid rgba(0,0,0,.1);
    border-right: 1pt solid rgba(0,0,0,.1);
}
a.nav-link {
    color: #fff !important;
}
.navbar-expand-lg{
    padding: 0px;
}
.justify-content-end{
    padding-top: 3px;
}
header {
    background: #3661b7;
    position: fixed;
    top: 0px;
    z-index: 1;
}
.navbar-nav{
    background: #3661b7;
}
.breadcrumb {
    background-color: #ffffff;
    padding-bottom: 0px;
    padding-left: 0px;
}
.mini-logo img{
    max-width: 100%;
}
@media (max-width: 992px){
    .mini-logo {
        display: none;
    }
}
.card {
    margin-bottom: 15px !important;
}
footer{
    height: 80px;
    background: #3661b7;
}
@media (max-width: 530px){
    .Copyright {
        display: none;
    }
}